*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-height: 48px;
  --footer-height: 32px;
}

body {
  font-family: "Vazirmatn";
}

main,
header {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  height: var(--header-height);
}

main {
  min-height: calc(100vh - (var(--header-height) + var(--footer-height)));
  margin: 1rem auto;
}

footer {
  width: 100%;
  height: var(--footer-height);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #55a3f0;
  color: white;
  font-size: 20px;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}

.slide-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 1s;
}
.slide-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms, visibility 0s linear 300ms;
}

.no-product {
  width: 100%;
  height: 3rem;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: brown;
}

.home-page {
  min-height: calc(100vh - (var(--header-height) + var(--footer-height)));
  border: 1px solid #e4e4e4;
  border-radius: 30px;
}
